<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lockscreen">

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lock"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyAdmin">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/my_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!--<receiver-->
        <!--android:label="@string/widget_lock"-->
        <!--android:name=".WidgetProvider" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--<action android:name="com.lock.screen.click" />-->
        <!--</intent-filter>-->
        <!--<meta-data android:name="android.appwidget.provider"-->
        <!--android:resource="@xml/appwidget_provider"/>-->
        <!--</receiver>-->

    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>